@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family_1: "Inter", sans-serif;
$main-color: #5887FF;
$second-color : #323232;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    background: linear-gradient(118.29deg, #DBE5FF -1.86%, #91AFFB 55.59%, #E3EBFF 102.19%);
    font-family: $font-family_1;

    .weather-container {
        width: 30%;
        min-width: 412px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: #FFFFFF;
            margin: 60px 0 8px 0;
        }

        &__subtitle {
            font-weight: 500;
            font-size: 14px;
            color: $main-color;
            margin-bottom: 24px;
        }

        .inputs-container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .temperature-input-container {
                display: flex;
                flex-direction: column;

                &__text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &__title {
                    font-weight: 500;
                    font-size: 10px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }

                &__temp {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: $main-color;
                }

                &__inputs {
                    display: flex;
                    justify-content: center;
                    background: rgba(255, 255, 255, 0.4);
                    backdrop-filter: blur(9px);
                    border-radius: 110px;
                    padding: 12px 20px;
                    height: 30px;
                    margin: 10px 0;

                    input {
                        -webkit-appearance: none;
                        appearance: none;
                        background: transparent;
                        width: 140px;
                        &::-webkit-slider-runnable-track {
                            background: #DBE5FF;
                            height: 2px;
                          }
                        &::-moz-range-track {
                            background: #DBE5FF;
                            height: 2px;
                          }
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            width: 16px;
                            height: 16px;
                            background-color: $main-color;
                            border-radius: 50%;
                            margin-top: -7px;
                        }
                    }
                }
            }
        }

       .weather-card {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(9px);
            border-radius: 20px;
            margin: 10px;
            padding: 20px;

            &__icon-date {
                display: flex;

                img {
                    width: 60px;
                    height: 60px;
                    margin-right: 20px;
                    align-self: center;

                }
            }

            &__date {
                font-style: normal;
                font-weight: 700;

                p {
                    font-size: 16px;
                    line-height: 19px;
                    color: $second-color;

                    &:nth-child(even){
                        font-size: 30px;
                        line-height: 36px;
                    }
                }
            }

            &__temp {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;

                p {
                    width: 45%;
                    font-style: normal;

                    &:nth-child(even) {
                        color: $main-color;
                        font-weight: 700;
                        text-align: end;
                        font-size: 16px;
                        padding: 4px 0;
                    }

                    &:nth-child(odd) {
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 12px;
                        color: $second-color;
                    }
                }
            }
        }

        &__average {
            font-weight: 700;
            font-size: 13px;
            color: $second-color;
            align-self: flex-start;
            margin-top: 15px;
        }

        .buttons-container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &__button {
                all: unset;
                cursor: pointer;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 24px 0 40px 0;
            }

            &__button--opacity {
                    opacity: 0.3;
                    cursor: auto;
            }
        }
    }
}


@media screen and (max-width: 450px) {
    .app {
        .weather-container {
            min-width: 90%;
            width: 90%;
            
            &__title {
                font-size: 36px;
            }

            .inputs-container {
                .temperature-input-container {
                    width: 45%;

                    input {
                        width: initial;
                    }
                }
            }

            .weather-card {
                &__temp {
                    p {
                        &:nth-child(odd) {
                            text-align: end;
                        }
                    }
                }
            }
        }
    }
}